<h1 style=font-style:bold>Data Science Tools and Ecosystem</h1>

Introduction:
In this notebook, Data Science Tools and Ecosystem are summarized.

<h3 style=font-style:bold>Objectives:
    
<h4> *List of popular languages for Data Science</h4>
    
<h4>*List of commonly used libraries by Data Scientists</h4>
     
<h4>*Examples of evaluating Arithmetic expressions in python</h4>

<h2 style>Author</h2>
Manideepsai

Some of the popular languages that Data Scientists use are:

1)Java
2)R
3)SQL

Some of the commonly used libraries used by Data Scientists include:

1)Pandas
2)Numpy
3)ggplot

|Data Science Tools|
|:---------------:|
|Hadoop           |
|Hue              |
|mongoDB          |

<h3 style=font-style:italic>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [3]:
# This a simple arithmetic expression to mutiply then add integers
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = int(input("Enter third number:"))
d = (a*b)+c
print("Result is :", d)

Enter first number: 3
Enter second number: 4
Enter third number: 5

Result is : 17

In [4]:
# This will convert 200 minutes to hours by dividing by 60.
a = int(input("Enter no.of minutes"))
print("No.of Hours", a/60)

Enter no.of minutes 200

No.of Hours 3.3333333333333335